:root{
    --header-height: 56px;
}
html,body{
    overflow-x: hidden;
    color: #030303;
    font-weight: 14px;
}
* svg{
    cursor: pointer;
}
body{
    font-family: Roboto, Arial, sans-serif;
    background: rgb(249, 249, 249);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: var(--header-height);
}
header{
    display: flex;
    height: var(--header-height);
    background: rgb(255, 255, 255);
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    align-content: center;
    top: 0px;
    left: 0px;
    right: 8px;
    z-index: 9999;
    justify-content: space-between;
}
header .nav-brand{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 1.4%;
}
header .nav-brand svg{
    line-height: 40px;
    font-size: 13.3px;
    margin:  0px 8px;
    box-sizing: border-box;
}
header .top-search-area{
    display: inline-flex;
    justify-content: space-between;
    height: 36px;
    max-height: 36px;
    width: 60%;
    align-items: center;
    align-content: center;
}
header .top-search-area form{
    display: inline-flex;
    align-items: center;
    align-content: center;
    border: 1px solid #ccc;
    width: calc(100% - 40px);
    border-radius: 3px;
    overflow: hidden;
}
header .top-search-area form input{
    width: calc(100% - 65px);
    padding: 0px;
    border: 10px solid transparent;
    outline: none !important;
}
header .top-search-area form .search-submit{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65px;
    background: rgb(248, 248, 248);
    border: 1px solid transparent;
    border-left: 1px solid rgb(211, 211, 211);
    height: 36px;
    cursor: pointer;
}
header .top-search-area form .search-submit:hover{
    background: rgb(228, 227, 227);
}
header .top-search-area form .search-submit:hover svg{
    fill: #030303;
}
header .top-search-area form .search-submit svg{
    fill:#928e8e;
    font-size: 13.3px;
}
header .top-search-area .voice-icon{
    display: inline-flex;
    align-content: center;
    align-content: center;
    justify-content: center;
    width: 36px;
    background: rgb(249, 249, 249);
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
}
header .top-search-area .voice-icon svg{
    fill: #3b3b3b;
}
header .right-icon-actions{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
header .right-icon-actions .middle-icons{
    display: inline-flex;
    flex-flow:row;
    flex-direction: row;
    margin: 0px 5px;
}
header .right-icon-actions .middle-icons svg{
    margin:  0px 5px;
}
header .right-icon-actions .sign-in-button{
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row;
    flex-direction: row;
    border: 1px solid rgb(6, 95, 212);
    height: 36px;
    color:  rgb(6, 95, 212);
    align-items: center;
    align-content: center;
    padding: 0px 5px;
    border-radius: 3px;
    cursor: pointer;
}

header .right-icon-actions .sign-in-button svg{
    fill: rgb(6, 95, 212);
}
header .right-icon-actions .sign-in-button b{
    font-weight: 500;
    margin-left: 8px;
    font-size: 14px;
}
main{
    display: block;
    /* border: 1px solid red; */
    padding: 24px 2%;
}

.main-player{
    display: inline-block;
    position: relative;
    width: 65%;
    /* border: 1px solid #ddd; */
    padding-bottom: 35.25%;
    height: 0;
}
.main-player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-description{
    position: relative;
    width: 60%;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.video-description .top-video-actions{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row;
    width: 108%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 18px 0px;
}
.video-description .views-timestamp{
    color: #606060 !important;
}
.video-description .views-timestamp b{
    font-weight: 400 !important;
}
.video-description h1{
    font-size: 18px;
    font-weight: 400;
}
.suggested-videos{
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-flow: column;
    right: 7%;
    width: calc(35% - 8%);
    /* border: 1px solid #de3; */
    top: calc(var(--header-height) + 24px);
    margin-right: 1px;
}
.suggested-videos section{
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 8px;
}
.suggested-videos section .thumbnail{
    width: 168px;
}
.suggested-videos section h1{
    display: inline-flex;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-size-adjust:100%;
    height: 40px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    letter-spacing: 0.25px;
    font-weight:500;
}
.suggested-videos section p{
    font-size: 12px;
    color: #606060;
}
.suggested-videos section p .channel{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    line-height: 20px;
}
.comments{ 
    width: 65%;
}
/* mobile screens */
@media screen and (max-width: 1024px){
    main{
        display: block;
        flex-direction: column;
        width: 99.9%;
        padding:  24px 0px;
    }
    .main-player {
        display: inline-block;
        width: 100%;
        max-height: 340px !important;
        border: 1px solid green;
    }
    .main-player iframe{
        position: relative;
        display: inline-block;
        height: 340px;
        padding-right: 0px;
    }
    .video-description .top-video-actions{
        width: 100vw;
    }
    .suggested-videos{
        display: inline-block;
        margin: 0px;
        width: 99.9%;
        position: relative;
        top: initial;
        right: 0px;
    }
    .comments{
        width: 100%;
    }
}